body { margin: 0; padding: 0; }

#map { 
    position: absolute; 
    top: 50px; 
    bottom: 0; 
    width: 100%; 
}

#controls {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* Legend styling */
.info.legend {
    background: white;
    padding: 6px 8px;
    font: 14px/18px Arial, Helvetica, sans-serif;  /* Adjusted line height */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px solid black;
}

.info.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 12px;  /* Increased margin for better spacing */
    margin-top: 4px;     /* Added margin to center-align text vertically */
    opacity: 0.7;
    border: 1px solid black;
}

.info.legend br {
    clear: both; /* Ensure each label starts on a new line */
}
