body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(134, 150, 150);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 1.7rem;
}

main {
    display: flex;
    width: 70%;
    gap: 5px;
    border-style: groove;
    border-width: 1px;
    padding: 5px;
}

#selection {
    display: flex;
    flex-direction: column;
}

#choropleth {
    flex: 1;
    height: 50vh;
    border-style: groove;
    border-width: 1px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 3px;
}
